<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message|Create</title>
</head>
<body>
        <h2 align="center">Create Message</h2>

        <form method="POST" action="">
            {% csrf_token %}
               <table border="1" align="center">
                        <tr>
                              <td>Enter name:</td>
                              <td><input type="text" name="uname" placeholder="Sender Name"></td>
                        </tr>
                        <tr>
                              <td>Email ID:</td>
                              <td><input type="email" name="uemail" placeholder="Sender email"></td>
                        </tr>
                        <tr>
                               <td>Mobile Number:</td>
                               <td><input type="number" name="mobile" placeholder="Sender Mobile"></td>
                        </tr>
                        <tr>
                              <td>Message:</td>
                              <td><textarea name="msg" id="" cols="30" rows="10"></textarea></td>
                        </tr>
                        <tr>
                              <td colspan="2" align="center"><input type="submit" value="Send"></td>
                        </tr>
               </table>
        </form>
</body>
</html>